<html>
<head>
	<meta charset='utf-8'>
	<title>Random Strings</title>
	{% load static %}
	<link rel='stylesheet' href='../static/css/style.css'>
</head>
<body>
	<div id='wrapper'>
		<div class='container'>
			<p>Random Word (attempt #{{request.session.count}})</p>
			<div id='random'>
				<h3>{{response}}</h3>
			</div>
			<form action='/submit' method='post'>{% csrf_token %}
			<input type='submit' value='Generate'>
			</form>
			<form action='/reset' method='post'>{% csrf_token %}
				<input type='submit' value='Reset'>
			</form>
		</div>
	</div>
</body>
</html>