<html>
<head>
	<title>Ninja Gold</title>
	{% load static %}
	<link rel='stylesheet' href='../static/css/style.css'>
</head>
<body>
	<div class='wrapper'>
		<h4 name='gold'>Your Gold: {{ request.session.gold }}</h4>
		<div class='places'>
			<form method='post' action='/process'>
				{% csrf_token %}
				<div class='location' id='farm'>
					<h3>Farm</h3>
					<hr>

					{% csrf_token %}
					<input type='hidden' name='location' value='farm'> <input type='submit' name='farm' class='farm' value='Find Gold!'>
				</div>
			</form>
			<form method='post' action='/process'>
				<div class='location' id='cave'>
					<h3>Cave</h3>
					<hr>

					{% csrf_token %}
					<input type='hidden' name='location' value='cave'>
					<input type='submit'  class='cave'name='cave' value='Find Gold!'>
				</div>
			</form>
			<form method='post' action='/process'>
				<div class='location' id='house'>
					<h3>House</h3>
					<hr>

					{% csrf_token %}
					<input type='hidden' name='location' value='house'>
					<input type='submit' class='house' name='house' value='Find Gold!'>
				</div>
			</form>
			<form method='post' action='/process'>
				<div class='location' id='casino'>
					<h3>Casino</h3>
					<hr>
					{% csrf_token %}
					<input type='hidden' name='location' value='casino'>
					<input type='submit' name='casino' class='casino' value='Find Gold!'>
				</div>
			</form>
		</div>
		<h4>Activities:</h4>
		
		<div id='action'>
			{% for activity in request.session.activities %}
				{% if '-' in activity %}
					<h5 style='color: red'>
					{{ activity }}
					</h5>
				{% else %}
					<h5 style='color: green'>
					{{ activity }} 
					</h5>
				{% endif %}
			{% endfor %}
		</div>	
		<form action='reset' method='post'>
			{% csrf_token %}
			<input type='submit' id='reset' value='Restart'>
		</form>
	</div>

</body></html>